<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Validation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ember Validation</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'examples.simple'}}Простая валидация{{/link-to}}</li>
            <li><a href="#">Условная валидация</a></li>
            <li><a href="#">Частичная валидация</a></li>
            <li><a href="#">Композиционная валидация</a></li>
            <li><a href="#">Добавление и удаление валидаторов на лету</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Валидация связанной модели</a></li>
            <li><a href="#">Собственная валидация</a></li>
            <li><a href="#">Смешанная валидация</a></li>
            <li><a href="#">Рекурсивный вызов вылидации</a></li>
            <li><a href="#">Эскалация и аккумуляция ошибок</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
