<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Validation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Ember Validation{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'quick-start'}}Quick Start{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutorial <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'tutorial.validators'}}Validators{{/link-to}}</li>
            <li>{{#link-to 'tutorial.mediators'}}Mediators{{/link-to}}</li>
            <li>{{#link-to 'tutorial.presets'}}Presets{{/link-to}}</li>
            <li>{{#link-to 'tutorial.errors'}}Errors{{/link-to}}</li>
            <li>{{#link-to 'tutorial.components'}}Components{{/link-to}}</li>
            <li>{{#link-to 'tutorial.mixins'}}Mixins{{/link-to}}</li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'examples.simple'}}Simple validation{{/link-to}}</li>
            <li>{{#link-to 'examples.conditional'}}Partial/Conditional validation{{/link-to}}</li>
            <li>{{#link-to 'examples.composition'}}Композиционная валидация{{/link-to}}</li>
            <li><a href="#">Добавление и удаление валидаторов на лету</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Валидация связанной модели</a></li>
            <li><a href="#">Собственная валидация</a></li>
            <li><a href="#">Смешанная валидация</a></li>
            <li><a href="#">Рекурсивный вызов вылидации</a></li>
            <li><a href="#">Эскалация и аккумуляция ошибок</a></li>
            <li role="separator" class="divider"></li>
            <li>{{#link-to 'examples.form'}}Simple form{{/link-to}}</li>
            <li>{{#link-to 'examples.form-view-validation'}}Form with view validation{{/link-to}}</li>
            <li>{{#link-to 'examples.form-nested-validation'}}Form with nested validation component{{/link-to}}</li>
          </ul>
        </li>
        <li><a href="docs/index.html">API</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
