<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to 'index' class="navbar-brand"}}Ember Validation{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to 'quick-start' class="nav-link"}}Быстрый старт{{/link-to}}
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Учебник</a>
        <div class="dropdown-menu">
          {{#link-to 'tutorial.validators' class='dropdown-item'}}Validators{{/link-to}}
          {{#link-to 'tutorial.mediators' class='dropdown-item'}}Mediators{{/link-to}}
          {{#link-to 'tutorial.presets' class='dropdown-item'}}Presets{{/link-to}}
          {{#link-to 'tutorial.errors' class='dropdown-item'}}Errors{{/link-to}}
          {{#link-to 'tutorial.components' class='dropdown-item'}}Components{{/link-to}}
          <div class="dropdown-divider"></div>
          {{#link-to 'tutorial.mixins' class='dropdown-item'}}Mixins{{/link-to}}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Примеры</a>
        <div class="dropdown-menu">
          {{#link-to 'examples.simple' class='dropdown-item'}}Простая валидация{{/link-to}}
          {{#link-to 'examples.conditional' class='dropdown-item'}}Условная валидация{{/link-to}}
          {{#link-to 'examples.composition' class='dropdown-item'}}Композиционная валидация{{/link-to}}
          <a href="#" class='dropdown-item'>Добавление и удаление валидаторов на лету</a>
          <div class="dropdown-divider"></div>
          <a href="#" class='dropdown-item'>Валидация связанной модели</a>
          <a href="#" class='dropdown-item'>Собственная валидация</a>
          <a href="#" class='dropdown-item'>Смешанная валидация</a>
          <a href="#" class='dropdown-item'>Рекурсивный вызов вылидации</a>
          <a href="#" class='dropdown-item'>Эскалация и аккумуляция ошибок</a>
          <div class="dropdown-divider"></div>
          {{#link-to 'examples.form' class='dropdown-item'}}Простая форма{{/link-to}}
          {{#link-to 'examples.form-view-validation' class='dropdown-item'}}Форма с подформой{{/link-to}}
          {{#link-to 'examples.form-nested-validation' class='dropdown-item'}}Форма с блоком валидации{{/link-to}}
        </div>
      </li>
      <li class="nav-item">
        <a href="docs/index.html" class="nav-link">API</a>
      </li>
    </ul>
  </div>
</nav>
