# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/docs
/tests/dummy/public/docs

# dependencies
/node_modules
/bower_components

# misc
/gh-pages
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*.swp
/coverage.html
/coverage.json
/lcov.dat
