<h1>Медиаторы</h1>

<p>Валидаторы вызываются не напрямую из валидируемых объектов, а с помощью медиаторов. Так было сделано по нескольким причинам. Во-первых валидация объектов может быть вызвана произвольно, скажем при изменении условий условий валидации или при потере фокуса элементом. Во-вторых такое решение дает нам гибкость в обращении с валидаторыми.</p>

<p>Выделяется 2-а основных типа медиаторов: <code>медиатор на аттрибут объекта</code> и <code>медиатор на валидатор</code>. Это обусловлено тем, что у любого аттрибута может быть более одного валидатора. Например у поля <code>user.age</code> может быть валидатор для проверки заполненности <code>required</code> и проверки на число <code>number</code>. При вызове валидации на объекте вызывается медиатор аттрибута, который в по очереди вызывает медиаторы валидаторов, которые в свою очередь делают снепшот объекта и вызывают с ним валидаторы, передавая также имя свойства, которое требуется провалидировать и параметры валидации.</p>

<p>Параметры валидации хранятся в самих медиаторах, вернее они становятся свойствами самих медиаторов. Таким образом становится возможным определять и использовать мощный механизм <code>computed</code> полей <code>Ember</code>.</p>

<p>Поскольку медиаторы могут самопроизвольно выполняться, насыщение объекта ошибками исходит путям отстрела событий валидации медиаторыми с передачей списка ошибок в них. Эти ошибки слушаются в валидируемом объекте, который и укладывает их в специальное поле <code>errors</code> объекта. Таким образом ошибки становятся доступными из шаблона.</p>

<p>Принцип работы медиаторов можно объяснить следующей схемой (<a href="https://www.draw.io/#Dprincipal_scheme.html">исходник</a>)</p>

<img src="/images/principal_scheme.svg" />