<h1>Валидаторы</h1>

<h2>Знакомство</h2>

<h2>Предустановленные валидаторы</h2>

<ul>
  <li>required</li>
  <li>number</li>
  <li>string</li>
  <li>datetime</li>
  <li>phone</li>
  <li>nino</li>
  <li>inn</li>
  <li>account-kor</li>
  <li>account-ras</li>
  <li>card-cvc</li>
  <li>card-expired</li>
  <li>card-number</li>
  <li>card-zipcode</li>
  <li>email</li>
</ul>
