{{#if show}}
  {{#if errors.length}}
    <ul class="validation-error-list">
      {{#each errors as |error|}}
        {{#if error.message.isValidationError}}
          <li class="validation-error">{{error.message.key}}</li>
        {{else}}
          <li class="validation-error">{{error.message}}</li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
{{/if}}

